{% extends "mysite/base.html" %}
{% load static %}
{% block content %}
    <div class="jumbotron jumbotron-fluid my-4">
        <div class="container">
                        <h1 class="display-4">What we are about?</h1>
                        <p class="lead">Learn Python by building projects.</p>
                        <hr class="my-4">
                        <p>Django,Networking, Website Scraping with Scrapy.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </p>

    </div>
{% endblock %}